@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  margin: 0 2rem;
}
.component{
  width: 50%;
  margin: auto auto;
}
.menu {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.index {
  margin: 1rem 2rem;
}

.main-header {
  font-family: 'Montserrat', sans-serif;
}

.create-form label {
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}